/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;

}

body{
    font-family: sans-serif;
}

li{
    display: inline-block;
    padding: 0 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
}


/* grid */

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;

}

.row{
    margin: 0 -15px;

    display: flex;
    flex-wrap: wrap;
}

[class*="col"]{
    padding: 15px;
}

.col-1-3{
    width: calc(100% / 3);
}

.col-2-3{
    width: calc(100% / 3 * 2);
}

.col-1-2{
    width: 50%;
}


/* utlis */



:root{
    --blue-color:#0084fd;
    --lightblue-color:#b5ddff;
    --purple-color:#9792e4;
}

/* debug */

.debug{
    min-height: 80px;
    background-color: rgb(216, 163, 98);
    padding: 2rem;
}


/* Header */

#header{
    background-color: var(--blue-color);
    color: aliceblue;
}

#header > .container{
    display: flex;
    justify-content: space-between;
}

#header > .container > .logo,
#header > .container > nav{
    padding: 20px 0;
}

  li:nth-child(5){
    background-color: aliceblue;
    color: black;
    padding: 10px;
    border-radius: 20px;
}

li:nth-child(6){
    display: none;
}

.logo img{
    width: 80%;
}


/* Header responsive*/

@media screen and (max-width: 800px){

    li {
        display: none;
    }

    li:nth-child(6){
        display: inline;
        font-size: 20px;
        
    }

   
    

}

@media screen and (max-width: 480px){
   
}


/* main */

/* <!-- Section demo app --> */

.card{
    background-color: var(--lightblue-color);
    height: 100%;
    border-radius: 20px;
}

.demo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 25px;
}

.demo .img{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.img{
    width: 45%;
    
}

.img img{
    width: 70%;
    padding-top: 30px;
    text-align: center;
}

.text{
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 35px;
   padding: 0 15px 0 20px;
    
}

.text p{
    line-height: 30px;
}

.text a{
    font-size: 17px;
    color: aliceblue;
    background-color: var(--blue-color);
    width: 50%;
    padding: 10px  25px;
    border-radius: 20px;
}

.card > i{
    font-size: 4rem;
    text-align: center;
    padding: 10px;
    color: var(--blue-color);
}

.card h3{
    color: var(--blue-color);
}

.clean-code {
    text-align: center;
    padding: 15px;
    line-height: 30px;
}


/* section demo app responsive */


@media screen and (max-width: 800px){
    .text{
        width: 100%;
    }
    .img{
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px){
    .col-2-3{
        width: 100%;
    }
    
    .col-1-3{
        width: 100%;
    }
}


/* <!-- Stratigic PLanning --> */

#Stratigic-PLanning{
    background-color: var(--purple-color);
}

.row-Stratigic{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

#Stratigic-PLanning .col-1-2{
    width: 40%;
    
}

.col-30-left{
    color: aliceblue;
}

.col-30-left p{
    line-height: 25px;
    font-size: 12px;
}

.col-30-left h3{
    padding: 80px 0 50px 0;
}

.col-30-left img{
    padding-top: 80px;
}


.col-30-right{
    background-color: aliceblue;
    border-radius: 40px;
    text-align: center;
    padding: 30px;
    /* height: 70%;
    margin-top: 50%; */
    line-height: 30px;
  
}

.col-30-right h3{
    padding: 20px 0;
}

.col-30-right p{
    font-size: 12px;
}

.col-30-right i{
    margin-top: 30px;
    background-color: var(--purple-color);
    padding: 15px;
    border-radius: 50%;
}


.col-30-right img{
   width: 62%;
   margin: 0 auto;

}


/* Stratigic PLanning responsive */

@media screen and (max-width: 800px){
    #Stratigic-PLanning .col-1-2{
        width: 100%;
        
    }
    .col-30-right{
       margin-top: 0;
       height: 100%;

    }
    .col-30-right img{
        width: 100%;
    
     }
     .col-30-left h3{
        font-size: 60px;

     }

     .col-30-right h3{
        font-size: 30px;

     }
}

@media screen and (max-width: 480px){
    .col-30-left h3{
        font-size: 40px;

     }
     .col-30-right h3{
        font-size: 20px;

     }
}


/* <!-- Testimonials --> */

.testimonial-title{
    text-align: center;
    line-height: 60PX;
}

.testimonial-title H2{
    color: var(--purple-color);
    font-size: 35PX;
    padding-bottom: 40px;
}

.testimonial-title P{
    line-height: 30PX;
    
}

#Testimonials .card {
    background-color: var(--purple-color);
    padding: 0 15px;
    margin: 30px 0;
    color: aliceblue;
}

.testimonial-img{
    width: 20%;
}

#Testimonials img{
    display: block;
    padding-top: 0;
    border-radius: 70%;
    
}

.testimonial-text{
    width: 80%;
    padding: 15px;
    line-height: 25px;
}

.testimonial-text h4{
    font-size: 20px;
    padding-top: 20px;

}

/* Testimonials responsive */

@media screen and (max-width: 800px){
   
}

@media screen and (max-width: 480px){
    
}


/* <!-- benefit of working with us --> */


#working-us{
    background-color: var(--purple-color);
}

.working-us-title{
    text-align: center;
    color: aliceblue;
    padding: 50px;
    font-size: 30px;
}



#working-us .card{
    background-color: aliceblue;
    padding: 20px;

    color: var(--purple-color);
}

#working-us .card h2{
    font-size: 60px;
}

#working-us .card h4{
    font-size: 30px;
    padding: 20px 0;
}

#working-us .card p{
    line-height: 25px;
    color: rgba(0, 0, 0, 0.432);
    padding-bottom: 30px;
}

#working-us button{
    background-color: var(--purple-color);
    color: aliceblue;
    padding: 8px 40px;
    border-radius: 15px;
}



/* <!-- About us --> */

#About-us {
    padding: 50px 0;
}

#About-us .row{
    justify-content: center;
}

#About-us .col-left{
    width: 60%;
}

#About-us .col-right{
    width: 25%;
}

#About-us .card{
    background-color: #ffffff;
}

#About-us .col-left .card h2{
    color: var(--purple-color);
    font-size: 50px;
    padding: 30px 0;

}

#About-us .col-left .card p{
    line-height: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

#About-us .col-right img{
    padding: 30px 0 10px 0;
    border-radius: 50%;
}

#About-us .col-right h4{
    font-size: 20px;
    line-height: 30px;
    color: var(--purple-color);
    font-weight: 800;
    padding: 15px 15px 15px 0;
}

#About-us .col-right a{
    color: aliceblue;
    background-color: var(--purple-color);
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
}
#About-us .col-right i{
    padding-right: 7px;
}


/* <!-- Get Started --> */

#Get-started{
    background-color: var(--purple-color);
    color: aliceblue;
    padding: 30px 0;
}

#Get-started .container{
    width: 500px;
}

.Get-started-text{
    text-align: center;
}

#Get-started h5{
    padding: 30px 0  0 0;
    opacity: 0.5;
}

#Get-started h3{
    padding: 20px 0;
    font-size: 30px;
}

#Get-started h2{
    padding: 20px 0;
    font-size: 60px;
    color: #ffc15c;
}

#Get-started p{
    line-height: 25px;
    font-size: 12px;
}


.Get-started-link{
    padding: 30px 0;
}

.Get-started-link a{
    color: var(--purple-color);
    background-color: aliceblue;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 800;
}



/* <!-- footer --> */

#footer{
    background-color: #333333;
    color: aliceblue;
    text-align: center;
    font-size: 12px;
}

#footer .container{
    width: 400px;
}

#footer p{
    padding: 30px 0;
}

#footer a{
    text-decoration: underline;
    color: var(--purple-color);
}